---
layout: layout-pages
title: Fun
nav: false
permalink: /projects/fun
---
<div class="project-box">
	<li class="project-kop">
		<span  class="ossen">
			Fun
		</span>
	</li>
</div>
{% assign project = site.projects | sort:"weight" %}{% for p in project %}{% if p.project == 'Fun' %}
<div class="badge-box">
	<a href="{{ p.url | prepend: site.baseurl }}">
		<div class="badge bg-{{ p.color }} border-{{ p.color }}">
			<div class="badge-kop {{ p.color }}">
				{{ p.title }}
			</div>
			<div class="badge-streep body-{{ p.color }}"></div>
			<div class="badge-project {{ p.color }}">
				{{ p.project }}
			</div>
		</div>
	</a>
</div>
{% endif %}{% endfor %}