---
layout: layout-pages
title: Projects
permalink: /projects/
nav: true
weight: 1
---

<div class="project-box">

{% for project in site.data.project %}

	<li class="project-kop">
		<a href="{{ project.link | prepend: baseurl }}"  class="{{ project.color }}">
			{{ project.project}}
		</a>
	</li>

{% endfor %}
</div>



{% assign project = site.projects | sort:"weight" %}

{% for p in project %}

<div class="badge-box">
	<a href="{{ p.url | prepend: site.baseurl }}">

		<div class="badge bg-{{ p.color }} border-{{ p.color }}">
			<div class="badge-kop {{ p.color }}">
				{{ p.chapeau }}
			</div>
			<div class="badge-streep body-{{ p.color }}"></div>
			<div class="badge-project {{ p.color }}">
				{{ p.project }}
			</div>
		</div>

	</a>
</div>


{% endfor %}