---
layout: layout-pages
title: Python development
nav: false
permalink: /projects/python-development/
---
<div class="project-box">
	<li class="project-kop">
		<span  class="bruin">
			Python development
		</span>
	</li>
</div>
{% assign project = site.projects | sort:"weight" %}{% for p in project %}

{% assign category = site.data.project[p.category] %}

{% if category.name == 'python development' %}

{% assign category = site.data.project[p.category] %}

<div class="badge-box">
	<a href="{{ p.url | prepend: site.baseurl }}">
		<div class="badge bg-{{ category.color }} border-{{ category.color }}">
			<div class="badge-kop {{ category.color }}">
				{{ p.title }}
			</div>
			<div class="badge-streep body-{{ category.color }}"></div>
			<div class="badge-project {{ category.color }}">
				{{ category.name | capitalize }}
			</div>
		</div>
	</a>
</div>
{% endif %}{% endfor %}