---
layout: layout-pages
title: Service development
nav: false
permalink: /projects/service-development/
---

<div class="project-items-box">
	<div class="project-items-totaal">
	{% for project in site.data.project %}
	{% assign p = project[1] %}
		<div class="project-items">
			<li class="project-items-kop">
				<a href="{{ site.baseurl }}/projects/{{ p.name | slugify }}"  class="{{ p.color }}">
					{{ p.name }}
				</a>
			</li>
		</div>
	{% endfor %}
	</div>
</div>

<!-- tussenkop -->
<div class="tussenkop {{ category.color }}">
	<a href="{{ site.baseurl }}/projects/">{{ page.title }}</a>
</div>

<!-- projects -->
<div class="page-box work-grid">
{% assign project = site.projects | sort:"weight" %}
{% for p in project %}
{% assign category = site.data.project[p.category] %}
{% if category.name == 'service development' %}
<div class="page-badge work-grid-item">
	<a href="{{ p.url | prepend: site.baseurl }}">
		<div class="badge-projects bg-{{ category.color }} border-{{ category.color }}">
			<div class="badge-projects__kop {{ category.color }}">
				{{ p.title | truncatewords: 1, "" }}
			</div>
			<div><strong>{{ p.heading }}</strong></div>
			<div class="badge-projects__streep body-{{ category.color }}"></div>
			<div class="badge-projects__category {{ category.color }}">
				{{ category.name | capitalize }}
			</div>
		</div>
	</a>
</div>
{% endif %}
{% endfor %}
</div>