/*------------------------------------*\
  #BASICS-COLOR
\*------------------------------------*/




.colorbox {
  margin: 15px;
}
.borderbox {
  border-width: 1px;
  border-style: solid;
}
.tshadow {
  text-shadow: 0px 0px 25px #323331;
}
.shadow-in {
  background-color: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 2px 3px 6px;
}





// brand

.brand{
  color: $brand;
}
.bg-brand {
  background-color: $brand; 
}
.border-brand {
  border-color: $brand; 
}

// brand-color

.brand-color{
  color: $brand-color;
}
.bg-brand-color {
  background-color: $brand-color; 
}
.border-brand-color {
  border-color: $brand-color; 
}

// text-color

.text-color{
  color: $text-color;
}
.bg-text-color {
  background-color: $text-color; 
}
.border-text-color {
  border-color: $text-color; 
}



// zwart

.zwart {
  color: $zwart; 
}
.bg-zwart {
  background-color: $zwart; 
}
.border-zwart {
  border-color: $zwart; 
}


// wit

.wit {
  color: $wit; 
}
.bg-wit {
  background-color: $wit; 
}
.border-wit {
  border-color: $wit; 
}


// grijs-10

.grijs-10 {
  color: $grijs-10; 
}
.bg-grijs-10 {
  background-color: $grijs-10; 
}
.border-grijs-10 {
  border-color: $grijs-10; 
}


// grijs-20

.grijs-20 {
  color: $grijs-20; 
}
.bg-grijs-20 {
  background-color: $grijs-20; 
}
.border-grijs-20 {
  border-color: $grijs-20; 
}


// grijs-40

.grijs-40 {
  color: $grijs-40; 
}
.bg-grijs-40 {
  background-color: $grijs-40; 
}
.border-grijs-40 {
  border-color: $grijs-40; 
}

// grijs-50

.grijs-50 {
  color: $grijs-50; 
}
.bg-grijs-50 {
  background-color: $grijs-50; 
}
.border-grijs-50 {
  border-color: $grijs-50; 
}



// aqua

.aqua {
  color: $aqua; 
}
.bg-aqua {
  background-color: lighten($aqua, 50%); 
}
.border-aqua {
  border-color: $aqua; 
}
.body-aqua {
  background: $aqua; 
}


// blauw

.blauw {
  color: $blauw; 
}
.soft-blauw {
  color: desaturate(lighten(adjust-hue($blauw, -22), 20%), 25%); 
}
.bg-blauw {
  background-color: desaturate(lighten(adjust-hue($blauw, -22), 40%), 10%); 
}
.border-blauw {
  border-color: $blauw; 
}
.body-blauw {
  background: $blauw; 
}


// limoen

.limoen {
  color: $limoen; 
}
.soft-limoen {
  color: desaturate(lighten(adjust-hue($limoen, 0), 30%), 45%); 
}
.bg-limoen {
  background-color: desaturate(lighten(adjust-hue($limoen, 0), 40%), 45%); 
}
.border-limoen {
  border-color: $limoen; 
}
.body-limoen {
  background: $limoen; 
}


// fuchsia

.fuchsia {
  color: $fuchsia; 
}
.bg-fuchsia {
  background-color: desaturate(lighten(adjust-hue($fuchsia, 5), 35%), 40%); 
}
.soft-fuchsia {
  color: desaturate(lighten(adjust-hue($fuchsia, 5), 25%), 30%); 
}
.border-fuchsia {
  border-color: $fuchsia; 
}
.body-fuchsia {
  background: $fuchsia; 
}


// oranje

.oranje {
  color: $oranje; 
}
.soft-oranje {
  color: desaturate(lighten(adjust-hue($oranje, 0), 20%), 5%); 
}
.bg-oranje {
  background-color: desaturate(lighten(adjust-hue($oranje, 10), 25%), 0); 
}
.border-oranje {
  border-color: $oranje; 
}
.body-oranje {
  background: $oranje; 
}


// groen

.groen {
  color: $groen; 
}
.soft-groen {
  color: desaturate(lighten(adjust-hue($groen, -15), 25%), 20%); 
}
.bg-groen {
  background-color: desaturate(lighten(adjust-hue($groen, -15), 35%), 5%); 
}
.border-groen {
  border-color: desaturate($groen, 0%); 
}
.body-groen {
  background: $groen; 
}


// yigal

.yigal {
  color: $yigal; 
}
.bg-yigal {
  background-color: lighten($yigal, 50%); 
}
.border-yigal {
  border-color: $yigal; 
}
.body-yigal {
  background: $yigal; 
}

// ossen

.ossen {
  color: $ossen; 
}
.soft-ossen {
  color: desaturate(lighten(adjust-hue($ossen, 0), 35%), 20%); 
}
.bg-ossen {
  background-color: desaturate(lighten(adjust-hue($ossen, 0), 45%), 20%); 
}
.border-ossen {
  border-color: $ossen; 
}
.body-ossen {
  background: $ossen; 
}

// bruin

.bruin {
  color: $bruin; 
}
.soft-bruin {
  color: desaturate(lighten(adjust-hue($bruin, 15), 25%), 5%); 
}
.bg-bruin {
  background-color: desaturate(lighten(adjust-hue($bruin, 15), 35%), 5%); 
}
.border-bruin {
  border-color: $bruin; 
}
.body-bruin {
  background: $bruin; 
}

// oceaan

.oceaan {
  color: $oceaan; 
}
.bg-oceaan {
  background-color: desaturate(lighten(adjust-hue($oceaan, -10), 50%), 50%); 
}
.border-oceaan {
  border-color: $oceaan; 
}
.body-oceaan {
  background: $oceaan; 
}


