/*------------------------------------*\
  #BASICS-TYPO
\*------------------------------------*/



.text-shadow {
	text-shadow: 5px 5px 12px rgba(0,0,0,0.4);
}

.it {
	font-style: italic;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.padding-left-36 {
	padding-left: 36px;
}

.padding-double {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.padding-regular {
	padding-right: 10px !important;
	padding-left: 10px !important;
}


.margin-top-36 {
	margin-top: 36px;
}

.margin-double {
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.margin-regular {
	margin-right: 10px !important;
	margin-left: 10px !important;
}



.line-half {
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
}

.line-regular {
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.line-double {
	margin-top: 2em !important;
	margin-bottom: 2em !important;
}

.line-extra {
	margin-top: 4em !important;
	margin-bottom: 4em !important;
}


.line-top-half {
	margin-top: 0.5em !important;
}

.line-top-regular {
	margin-top: 1em !important;
}

.line-top-double {
	margin-top: 2em !important
}

.line-top-extra {
	margin-top: 4em !important
}


.line-bottom-half {
	margin-bottom: 0.5em !important;
}

.line-bottom-regular {
	margin-bottom: 1em !important;
}

.line-bottom-double {
	margin-bottom: 2em !important;
}

.line-bottom-extra {
	margin-bottom: 4em !important;
}


