<div class="footer-box">

	<footer class="footer">

		<div class="footer-yigal">

			<div class="yigal-payoff">
				<a href="{{ prepend: baseurl }}/yigalduppen/"><span>Yigal Duppen</span></a> is a driven software architect
			</div>
			
			<div class="footer-publysher">
				<address class="footer-adres">
					<div class="footer-bv"><b>Publysher bv</b></div>
					<div class="footer-name">Yigal Duppen</div>
					<div class="footer-mobile">M +31 (0)6 4007 1736</div>
					<div class="footer-email"><a class="aqua" href="">yigal@publysher.nl</a></div>
				</address>
		    </div>

		    <div class="icons-social">
				<a href="" target="_blank">
			    <span class="fa-stack fa">
				  <i class="fa fa-github fa-stack-2x fa-inverse" style="color:black; font-size: 2em;"></i>
				</span>
				</a>
				
				<a href="" target="_blank">
			    <span class="fa-stack fa">
			        <i class="fa fa-circle fa-stack-2x"></i>
			        <i class="fa fa-linkedin fa-stack-1x fa-inverse" style="font-size: 1.2em;"></i>
			    </span>
				</a>
				<a href="" target="_blank">
			    <span class="fa-stack fa">
			        <i class="fa fa-circle fa-stack-2x"></i>
			        <i class="fa fa-twitter fa-stack-1x fa-inverse" style="font-size: 1.2em;"></i>
			    </span>
				</a>
			</div>


		</div>

	</footer>
</div>

<div class="bottom-line"> 
	<div class="copyright">    
		<p>&copy; 2017 Publysher</p>
	</div>   
    
	<div class="disclaimer">
		<div class="disclaimer-link"><a href="{{ site.baseurl }}/divroclaimer">proclaimer</a></div>
		<div class="disclaimer-link"><a href="{{ site.baseurl }}/colofon">colofon</a></div>
	</div>

</div>