<div class="menu">
	<div class="logo-box"> 
		<a href="{{ site.baseurl }}/">
			<div class="logo-box-yigal">
				yigal duppen 
			</div>
			<div class="logo-box-publysher">
				publysher
			</div> 
		</a>
	</div>
	<nav class="nav">
		<div class="nav-hover {% if page.url contains '/projects/' %}nav-hover__link{% endif %}">
			<li class="nav-list">
		      <a href="{{ site.baseurl }}/projects/" class="nav-link" {% if page.url contains '/projects/' %} id="nav-current" {% endif %}>
		        <span class="nav-projects">projects</span>
		      </a>
		    </li>
	    </div>
	    <div class="nav-line">projects</div>
		<div class="nav-hover {% if page.url contains '/writings/' %}nav-hover__link{% endif %}">
		    <li class="nav-list">
		      <a href="{{ site.baseurl }}/writings/" class="nav-link" {% if page.url contains '/writings/' %} id="nav-current" {% endif %}>
		        <span class="nav-writings">writings</span>
		      </a>
		    </li>
	    </div>
	</nav>
	
	{% include yigal-payoff.html %}

</div>
