/*------------------------------------*\
  #PAGES-HOME
\*------------------------------------*/

.main-home {
	padding: 10px;
}

.home-quote {
	margin-left: 18px;
	margin-right: 18px;
	font-wight: 400;
	font-size: 21px;
	font-family: 'Fira Mono', courier;
}

.tussenkop {
	font-weight: 600;
	font-size: 24px;
	padding: 0 10px;
	margin-top: 48px;
	margin-bottom: 48px;
	a {
		color: $grijs-40;
	}
}
.tussenkop-more {
	font-weight: 600;
	font-size: 21px;
	padding: 0 10px;
	margin-top: 36px;
	margin-bottom: 0;	
	float: right;
}

.badge-box {
	margin-left: 10px;
	margin-right: 10px;
}

.badge {
	width: 100%;
	padding: 14px 18px;
	border-radius: 6px;
	margin-bottom: 10px;
}

.badge-kop {
	font-weight: 600;
	font-size: 26px;
	line-height: 34px;
}

.badge-streep {
	display: block;
    width: 54px;
    height: 8px;
    border: 8px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.badge-project {
	font-weight: 400;
	padding-bottom: 2px;
}





