/*------------------------------------*\
  #PAGES-PROJECTS
\*------------------------------------*/

// projects.html


.project-items-box {
	margin-top: 30px;
	margin-left: 18px;
	margin-right: 18px;
	margin-bottom: 48px;
	position: relative;
	z-index: 1;
	li {
		list-style: none;
	}	
}

.project-items {
	padding-right: 18px;
}

.project-items-kop {
	font-weight: 600;
	font-size: 21px;
	line-height: 36px;
}

@media screen and (min-width: $on-palm){  
	.project-items-box {
		max-width: 1024px;
    	margin: 0 auto;
		margin-top: 0;		
		margin-top: 112px;
		display: flex;
		flex-flow: row wrap;
	}
	.project-items-totaal {
		margin-top: -36px;
    	margin-bottom: 72px;
    	margin-left: 58px;
    	width: 65%;
	}
	.project-items {
		// margin: 0 8px;
		display: inline-block;
	}
}

@media screen and (min-width: $on-tablet){  
	.project-items-box {
		// max-width: 1024px;
		margin-left: 72;
		// margin-right: 400px;
	}
	.project-items-totaal {

    }
}

@media screen and (min-width: $on-laptop){  

}



// layout-projects.html

.project {
	max-width: 1024px;
  	margin: 0 auto;
	.project-box {	
		margin: 0 10px;				// box
		margin-top: 30px;
		margin-bottom: 64px;
		h1 {
			font-weight: 600;
			font-size: 48px;
			line-height: 54px;
			margin-top: 21px;
		}
	}
	.project-kop {
		font-weight: 600;
		font-size: 21px;
		line-height: 36px;
		font-family: 'Fira Mono';
	}

	.content-box {
		display: flex;
  		flex-flow: row wrap;
	}
	.content-project {

	}
	.content-project__chapeau {
		font-weight: 600;
		font-size: 21px;
		padding: 0 10px;
	}
	.content-project__content {
		p:first-child {
			font-weight: 600;
		}
	}
	.content-credits {	
		margin-top: 28px;
		margin-left: 10px;
		margin-right: 10px;
		li {
			list-style: none;
		}
	}
	.content-credits-project {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.075em;
	}
	.content-credits-dev {
		font-weight: 400;
	}
	.content-credits-chapeau {
		font-weight: 600;
		font-size: 19px;
		color: $grijs-40;
	}
	.content-credits-engineering {
		font-size: 16px;
		font-weight: 200;
		letter-spacing: 0.1em;
		margin-top: 28px;
	}
	.content-credits-eng {

	}

}


@media screen and (min-width: $on-palm){  

	.project {
		display: flex;
  		flex-flow: row wrap;
		.project-box {
			width: 60%;
			margin-top: 74px;
			margin-left: 64px;
			margin-bottom: 48px;
		}
		.content-box {
			margin-left: 64px;
			margin-right: 10;
		}
		.content-project {
			width: 60%;
		}
		.content-credits {	
			width: 30%;				
			margin-top: 0;
			margin-left: 0;
			margin-left: 48px;
		}
		.content-credits-project {
			padding-top: 4px;
    		padding-bottom: 3px;
		}
		.content-credits-engineering {
    		padding-bottom: 3px;
		}
	}
}

@media screen and (min-width: $on-tablet){  
	.project-box {
		// padding-right: 300px;
		// padding-left: 64px;
		margin-bottom: 120px;
	}
}

@media screen and (min-width: $on-laptop){  

}



