/*------------------------------------*\
  #PAGES-PROJECTS
\*------------------------------------*/


.project-box {
	margin-top: 30px;
	margin-bottom: 24px;
	margin-left: 10px;
	li {
		list-style: none;
	}
	h1 {
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
		margin-top: 21px;
	}
}
.project-kop {
	font-weight: 600;
	font-size: 21px;
	line-height: 36px;
}
.project-content-box {
	p:first-child {
		font-weight: 600;
	}
}
.content-box-chapeau {
	font-weight: 600;
	font-size: 21px;
	padding: 0 10px;
}
.project-credits {
	margin-top: 28px;
	margin-left: 10px;
	margin-right: 10px;
	li {
		list-style: none;
	}
}
.project-credits-project {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.075em;
}
.project-credits-dev {
	font-weight: 400;
}
.project-credits-chapeau {
	font-weight: 600;
	font-size: 19px;
	color: $grijs-40;
}
.project-credits-engeneering {
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 0.1em;
	margin-top: 28px;
}
.project-credits-eng {

}





