/*------------------------------------*\
  #PAGES-WRITINGS
\*------------------------------------*/

.writing-box {
	margin-top: 34px;
	// margin-bottom: 24px;
	margin-left: 10px;
	margin-right: 10px;
	.writing-box-item {
		padding-top: 48px;
		padding-bottom: 48px;
    	border-top: 1px solid lightgray;
		li {
			list-style: none;
		}
	}
	// :last-child {
	// 	border-bottom: none;
	// 	padding-bottom: 0;
	// }
	h1 {
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
		margin-top: 21px;
		margin-bottom: 21px;
	}
}
.writing-project-writing {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 4px;
	margin-top: 21px;
}
.writing-project {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 4px;
}
.writing-chapeau {
	font-weight: 200;
	font-size: 21px;
	line-height: 28px;
	letter-spacing: 0.04em;
}
.writing-kop {
	font-weight: 600;
	font-size: 21px;
	line-height: 28px;
	margin-top: 4px;
}
.writing-kop-sub {
	font-weight: 200;
	font-size: 17px;
	padding-left: 36px;
	letter-spacing: 0.04em;
}
.writing-kop-datum {
	font-size: 16px;
	color: $grijs-40;
	padding-top: 4px;
	padding-bottom: 8px;
}
.writing-content-box {
	margin: 0 10px;
	p:first-child {
		font-weight: 300;
		font-size: 21px;
		line-height: 30px;
	}
}
.writing-streep {
	display: block;
    width: calc(100%-36px);
    height: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 18px;
    margin-right: 18px;
    background: $grijs-40;
}



