.yigal-payoff {
  font-weight: 200;
  line-height: 27px;
  padding-left: 10px;
  margin-top: 36px;
  margin-bottom: 36px;
  z-index: 2;
  .yigal-payoff-text {
    span {
      font-weight: 600;
      font-size: 21px;
      color: $aqua;
    }
  }
}

@media screen and (min-width: $on-palm){  
  .yigal-payoff {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    .yigal-payoff-text {
      margin-top: -85px;
      padding-left: 350px;
    }
  }
}

@media screen and (min-width: $on-tablet){  
  .yigal-payoff {
    .yigal-payoff-text {
      width: 100%;
    }
  }  
}

@media screen and (min-width: $on-laptop){  

}