/*------------------------------------*\
  #NAVIGATION-YIGAL
\*------------------------------------*/


.yigal-payoff {
  font-weight: 200;
  line-height: 27px;
  padding-left: 18px;
  margin-top: 36px;
  margin-bottom: 36px;
  z-index: 2;
  .yigal-payoff-text {
    span {
      font-weight: 600;
      font-size: 21px;
      color: $aqua;
    }
  }
}

.yigal-quote {
  margin-top: 72px;
  // margin-right: 100px;
  margin-left: 18px;
  margin-bottom: 48px;
  .yigal-quote-text {
    font-wight: 400;
    font-size: 21px;
    font-family: 'Fira Mono', courier;
    color: $grijs-50;
    a {
      color: $grijs-50;
    }
  }
}

@media screen and (min-width: $on-palm){  
  .yigal-payoff {
    order: 2;
    width: 50%;
    position: relative;
    padding-left: 72px;
    margin-top: 21px;
    margin-bottom: 0;
    .yigal-payoff-text {

    }
  }
}

@media screen and (min-width: $on-tablet){  
  .yigal-payoff {
    .yigal-payoff-text {
      width: 100%;
    }
  }  
}

@media screen and (min-width: $on-laptop){  

}