---
layout: layout-pages
---
<div class="grid">
	<div class="grid-kop">
		
		<div class="grid-kop__chapeau {{ category.color }}">
			{{ page.title }}
		</div>
			
		<h1 class="grid-kop__kop {{ page.color }}">
			{{ page.heading }}
		</h1>
	</div>
	<div class="grid-box">
		<div class="grid-content">
			<div class="kramdown writing-content__content ">
				{{ content }}
			</div>
			<div class="yigal-quote">
				<div class="yigal-quote-text">
					<p>Software architecture is those decisions which are both important and hard to change <br>— <a href="https://martinfowler.com/" target="_blank">Martin Fowler</a></p>
				</div>
			</div>
		</div>
		
		<div class="grid-aside">
			
			<address class="grid-aside__adress">
				<p class="title grijs-40"><b>Publysher bv</b></p>
				<p class="adress">Henk Henrietstraat 113</p>
				<p class="locality">1061 VB Amsterdam</p>
				<p class="country-name">The Netherlands</p>
				<p class="mobile">M +31 (0)6 4007 1736</p>
				<p class="email"><a class="brand-color" href="mailto:yigal@publysher.nl">yigal@publysher.nl</a></p>
				<span class="geo">
				<span class="latitude">
				<span class="value-title" title="52.3673650"></span>
				</span>
				<span class="longitude">
				<span class="value-title" title="4.837779"></span>
				<p class="kvk">KvK &nbsp;<span>55504035</span></p>
				<p class="btw">btw &nbsp;<span>0169.51.445</span></p>
			</address>


		</div>
	</div>	
</div>