---
layout: layout-pages
---

<div class="project">
{% assign category = site.data.project[page.category] %}
  	<div class="project-box">
		<div class="project-kop">
		<a href="{{ site.baseurl }}/projects/{{ category.name | slugify }}">
			<span  class="{{ category.color }} padding-left-36">
				{{ category.name | capitalize }}
			</span>
		</div>
		</a>
		<h1 class="soft-{{ category.color }}">{{ page.heading }}</h1>
	</div>

	<div class="content-box">
		<div class="content-project">
			<div class="content-project__chapeau {{ category.color }}">{{ page.title }}</div>
			<div class="content-project__content">
			{{ content }}
			</div>
		</div>
		<div class="content-credits">
			<div class="content-credits-project">project</div>
			<div class="content-credits-chapeau">{{ page.title }}</div>
			{% for dev in page.development %}
				<li class="content-credits-dev">{{ dev }}</li>
			{% endfor %}
			<div class="content-credits-engineering">engineering</div>
			{% for eng in page.engineering %}
				<li class="content-credits-eng">{{ eng }}</li>
			{% endfor %}
	    </div>
    </div>
</div>