<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  	{% include header.html %}

  <main class="main writing" id="{{ page.name }}" aria-label="Content">

  	{% assign category = site.data.project[page.category] %}

  	<div class="writing-box">

		<div class="writing-chapeau {{ category.color }}">
				{{ page.writing }}
		</div>
		<h1 class="grijs-40">{{ page.heading }}</h1>
		<div class="writing-project-writing {{ category.color }}">{{ category.name | capitalize }}</div>

	</div>


	<div class="writing-content">
		<div class="writing-content__box">
			<div class="kramdown writing-content__content {{ category.color }}">

				{{ content }}

			</div>
		</div>

		<div class="writing-more">
			<div class="writing-more__title">More writings</div>
			<div class="writing-more__list"></div>
			{% for writing in site.writings %}
			<li>
				<a href="{{ writing.url | prepend: site.baseurl }}" class="">
					<div class="writing-more__kop">
					{{ writing.heading}}
					</div>
				</a>
			</li>			
			{% endfor %}
	    </div>
	</div>

	{% include footer.html %}

  </main>
  
</body>

<script src="{{ site.baseurl }}/js/main.js"></script>

</html>

