---
layout: layout-pages
---
<div class="grid">
	<div class="grid-kop">
		
		<div class="grid-kop__chapeau {{ category.color }}">
			{{ page.title }}
		</div>
			
		<h1 class="grid-kop__kop {{ page.color }}">
			{{ page.heading }}
		</h1>
	</div>
	<div class="grid-box">
		<div class="grid-content">
			<div class="kramdown writing-content__content ">
				{{ content }}
			</div>
			<div class="yigal-quote">
				<div class="yigal-quote-text">
					<p>	velocity, quality, delivery <br> — <a href="https://martinfowler.com/" target="_blank">these are my goals in every project</a></p>
				</div>
			</div>
		</div>
		
		<div class="grid-aside">
			
			<address class="grid-aside__adress">
				<p class="title grijs-40"><b>{{ site.company }}</b></p>
				<p class="adress">{{ site.adress }}</p>
				<p class="locality">{{ site.postal_code }}{{ site.city }}</p>
				<p class="country-name">{{ site.country }}</p>
				<p class="mobile">M {{ site.mobile }}</p>
				<p class="email"><a class="brand-color" href="mailto:yigal@publysher.nl">{{ site.email }}</a></p>
				<span class="geo">
				<span class="latitude">
				<span class="value-title" title="{{ site.latitude }}"></span>
				</span>
				<span class="longitude">
				<span class="value-title" title="{{ site.longitude }}"></span>
				<p class="kvk">KvK &nbsp;<span>{{ site.kvk }}</span></p>
				<p class="btw">btw &nbsp;<span>{{ site.btw }}</span></p>
			</address>


		</div>
	</div>	
</div>